
       /*  状态栏 start  */

.t-t{
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #ff600f;
    color: blanchedalmond;
}

.t-t-l{
    height: 90px;
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

.move{
    height: 50px;
    font-size: 35px;
    margin-left: 20px;
}

.t-t-r{
    height: 90px;
    width: 60%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

.time{
    height: 50px;
    font-size: 35px;
    margin-right: 20px;
    width: 170px;
}

.elect{
    height: 17px;
    width: 7px;
    margin-right: 13px;
    background-color: blanchedalmond;
    border-radius: 2px;
}

.electric{
    height: 27px;
    width: 50px;
    border: blanchedalmond 2px solid;
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
    line-height: 26px;
}

.signal{
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-end;
    height: 40px;
    position: relative;
}

.signal5{
    margin-right: 15px;
    height: 40px;
    width: 6px;
    background-color:blanchedalmond;
    border-radius: 3px;
    opacity: .6;
}

.signal4{
    margin-right: 3px;
    height: 32px;
    width: 6px;
    background-color: blanchedalmond;
    border-radius: 3px;
    opacity: .6;
}

.signal3{
    margin-right: 3px;
    height: 24px;
    width: 6px;
    background-color: blanchedalmond;
    border-radius: 3px;
}

.signal2{
    margin-right: 3px;
    height: 16px;
    width: 6px;
    background-color: blanchedalmond;
    border-radius: 3px;
}

.signal1{
    margin-right: 3px;
    height: 8px;
    width: 6px;
    background-color: blanchedalmond;
    border-radius: 3px;
}

.g{
    height: 12px;
    width: 12px;
    position: absolute;
    top: -3px;
    right: 60px;
    font-size: 17px;
    font-weight: 500;
}

.wifi{
    margin-right: 23px;
}

         /*  状态栏 end  */


         /*    tc start  */

.t-c{
    height: 140px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.head{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    background-image: url(../img/200.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: white 2px solid;
}

.search{
    /*height: 20px;*/
    flex: 1;
    height: 70px;
    margin: 0 30px 0 30px;
    background-color: rgba(250,251,240,.4);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.search-l{
    width: 70px;
    height: 58px;
    margin-left: 13px;
}

.search-c{
    flex: 1;
    margin-left: 15px;
    font-size: 37px;
}

.search-r{
    width: 67px;
}

.icons{
    width: 270px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.ico{
    height: 70px;
    width: 70px;
}

       /*  tc end  */

       /*   tb start   */

.t-b{
    height: 80px;
    width: 100%;
    overflow-x: scroll;

}

.type-t{
    width: 1800px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.type{
    height: 50px;
    /*width: 120px;*/
    font-size: 40px;
    font-weight: 100;
    /*margin-left: 30px;*/
}

.strong{
    font-weight: 700;
}